TestPlayer.xcodeproj/project.xcworkspace/xcshareddata/TestPlayer.xccheckout
TestPlayer.xcodeproj/xcuserdata/zhengjianwen.xcuserdatad/xcschemes/TestPlayer.xcscheme
TestPlayer.xcodeproj/xcuserdata/zhengjianwen.xcuserdatad/xcschemes/xcschememanagement.plist
